.u-section-1 .u-sheet-1 {
  min-height: 1330px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 1090px;
  background-image: url("images/image27.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 621px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 64px 27px 0 10px;
}

.u-section-1 .u-icon-1 {
  width: 96px;
  height: 96px;
  margin: -20px auto 0 10px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 256px;
  margin-top: 186px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 621px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 35px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 2px 11px 0;
}

.u-section-1 .u-image-3 {
  min-height: 470px;
  background-image: url("images/image28.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 470px;
}

.u-section-1 .u-container-layout-5 {
  padding: 11px 19px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 90px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 27px;
  margin-bottom: 22px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 137px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 148px;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 60px;
}

.u-section-1 .u-text-7 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-1 .u-image-1 {
    min-height: 899px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 35px;
    margin-right: -10px;
    margin-left: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -18px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-2 {
    height: 311px;
    margin-top: 139px;
    margin-bottom: -11px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 585px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 388px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 40px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 113px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1731px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 672px;
  }

  .u-section-1 .u-image-2 {
    height: 387px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 594px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 168px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1942px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 866px;
  }

  .u-section-1 .u-image-2 {
    height: 581px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 891px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 168px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 1px 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 51px;
    margin-right: auto;
    margin-left: 147px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-1 .u-image-1 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    height: 366px;
    margin-top: 33px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 441px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -5px;
    margin-right: 217px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 336px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 194px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-left: 52px;
  }
}